# Save this file as config.yaml
monitors:
  - name: Google
    url: https://www.google.com
  - name: GitHub
    url: https://github.com
  - name: Homepage
    url: https://homepage.local.davidhfrankel.com
  - name: SSH on localhost
    type: tcp
    host: 127.0.0.1
    port: 22
